.header{
    background-color: rgb(81, 115, 97);
    color: white;
    padding: 0px;
    border-bottom: 5px solid brown;
}

header .nav-link{
    color: white
}

header .h1{
    font-family: 'Anton', sans-serif;

}

header .h2{
    font-family: 'Fascinate Inline', cursive;
}

.m-4{
    background-color: rgb(158, 47, 40);
}

body main .formu-container-fluid {
    width: 400px;
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    border: 1px solid ;
    color: #382f2f;
}